{% extends 'base.html' %}

{% load i18n %}
{% load static from staticfiles %}

{# Load django-bootstrap3 #}
{% load bootstrap3 %}
{% bootstrap_css %}

{% block content %}
    <h1>Change password</h1>

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Save
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
