{% load static from staticfiles %}

{# Custom templatetags #}
{% load gravatar %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ user.get_full_name }}
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3" align="center">
                <img src="{{ user.email|gravatar_url:'160' }}"
                     class="img-circle img-responsive" alt="User avatar">
            </div>

            <div class="col-md-9">
                <table class="table table-responsive table-hover">
                    <tbody>
                    <tr>
                        <td>E-mail</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ user.profile.phone|default:'' }}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>
                            {% if user.profile.country %}
                                <img src="{% static user.profile.country.flag %}">
                                <small>{{ user.profile.country.name }}</small>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        {% if user.email %}
            <a href="mailto:{{ user.email }}" type="button"
               class="btn btn-sm btn-primary"
               data-original-title="Send e-mail" data-toggle="tooltip">
                <i class="glyphicon glyphicon-envelope"></i>
            </a>
        {% endif %}
        {% if user == request.user %}
            <span class="pull-right">
                <a href="{% url 'user-edit' %}" type="button"
                   class="btn btn-sm btn-warning"
                   data-toggle="tooltip" data-original-title="Edit this user">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <!-- This span works as a tooltip since an element
                     cannot be both a modal and a tooltip -->
                <span data-toggle="tooltip"
                      data-original-title="Remove this user">
                    <a type="button" class="btn btn-sm btn-danger"
                       data-toggle="modal" data-target="#delete-user-modal">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </span>
            </span>
        {% endif %}
        <div class="clearfix"></div>
    </div>
</div>
