{% extends 'base.html' %}

{% block css %}
    <style>
        .table > tbody > tr:first-child > td {
            border-top: 0;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        // Initialize Bootstrap's tooltips
        $('[data-toggle="tooltip"]').tooltip();
    </script>
{% endblock %}

{% block content %}
    <h1>User detail</h1>

    <div class="row">
        <div class="col-md-8">
            {% include 'accounts/user_profile__panel.html' %}
        </div>
    </div>

    {% include 'accounts/user_profile__modals.html' %}
{% endblock %}
